.switch {
	position: relative;
	display: inline-block;
	width: 4rem;
	height: 2.2rem;
	margin-left: 1rem;
	margin-bottom: 0.2rem;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	align-content: start;
	justify-content: start;
	height: 1.75rem;
	width: 1.75rem;
	left: 0.3rem;
	bottom: 0.3rem;
	background-image: url("../../assets/sun_light.webp");
	background-size: cover;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

[data-theme="dark"] {
	.slider:before {
		background-image: url("../../assets/moon_dark.webp");
		background-size: cover;
	}

	input + .slider:before {
		-webkit-transform: translateX(1.625rem);
		-ms-transform: translateX(1.625rem);
		transform: translateX(1.625rem);
	}

	input + .slider {
		background-color: #2196f3;
	}
}

/* Rounded sliders */
.slider.round {
	border-radius: 2.125rem;
}

.slider.round:before {
	border-radius: 50%;
}
