@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

html.light body {
	color: black;
	background-color: rgba(134, 131, 131, 0.089);
}

html.dark body {
	color: white;
	background-color: #25252b;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
