@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: white;
	background-color: #25252b;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
